@import url(./__image/cards__image.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);
@import url(./__subtitle/cards__subtitle.css);

.cards {
    width: 920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;  
}