@import url(./__img/feynman__img.css);
@import url(./__link/feynman__link.css);
@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);

.feynman {
    min-height: 790px;
    background: #F2F2F2;
    position: relative;
    padding-top: 80px;
}
