@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    background-color: #1F1F1F;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 90px;
}